

Body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

/* Nav section */

nav {
    background-color:#343451;
    color:#F5F5FF;
    height: 92px;

}

.nav-item {
    font-size: 20px;
    font-weight: 300;
}


/* hero section */

#Hero-section {
    background-image: url("../img/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    position: relative;
}
#Hero-section div {
    position: absolute;
    top: 400px;;
    left: 0;
    right: 0;
    margin: auto;
}

#Hero-section  h1 {
    font-size: 64px;
}

#Hero-section h2 {
    font-size: 40px;
}

#Hero-section h3 {
    font-size: 24px;
    font-weight: 300;
}