
html{
    scroll-behavior: auto !important;
}

Body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #343451;
}

/* Nav section */

nav {
    background-color:#343451;
    color:#F5F5FF;
 
}

.nav-item {
    font-size: 20px;
    font-weight: 300;
}


/* hero section*/

#Hero-section {
    background-image: url("../img/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-self: center;
    height: 90vh;
    position: relative;
    
}
.hero {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
   
}

.hero h1 {
    font-size: 64px;
    font-weight: bold;
}

/* section about */

#About {
    background-color:#F5F5FF;
    margin: 0;
}

.img-perfil {
    width: 320px;
    height: auto;
   
}

.border-end {
    padding-left: 100px;
    height: 200px;
    align-self:center;
    color: #6A7383;
 
}

/* section cards */

#desafios {
    background-color:#F5F5FF;
    margin: 0;
}




.btn-danger {
    background-color: #F35C64;
   
}


/* section footer */

footer {
    background-color: #343451; ;
    color:#F5F5FF;
}

footer .fa-brands {
    color:#F5F5FF;
}