

Body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: #343451;
}

/* Nav section */

nav {
    background-color:#343451;
    color:#F5F5FF;
    height: 92px;

}

.nav-item {
    font-size: 20px;
    font-weight: 300;
}


/* hero section */

#Hero-section {
    background-image: url("../img/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    position: relative;
    
}
#Hero-section div {
    position: absolute;
    top: 400px;;
    left: 0;
    right: 0;
    margin: auto;
   
}

#Hero-section  h1 {
    font-size: 64px;
}

#Hero-section h2 {
    font-size: 40px;
}

#Hero-section h3 {
    font-size: 24px;
    font-weight: 300;
}

/* section about */

#About {
    background-color:#F5F5FF;
    margin: 0;
}

.img-perfil {
    width: 320px;
    height: auto;
   
}

.border-end {
    padding-left: 100px;
    height: 200px;
    align-self:center;
    color: #6A7383;
 
}

/* section cards */

#desafios {
    background-color:#F5F5FF;
    margin: 0;
}




.btn-danger {
    background-color: #F35C64;
    /* width: 100%; */
}

